body {
  background-color: #f9f7fa;
}

.AppBar a {
  text-decoration: none;
  }

.AppBar .transitearn {
  font-size: 30px;
  letter-spacing: 0.5px;
}

.logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px;
  /* Adjust the negative margin value as needed */
}
